# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# AWS private credentials (never push)
*.pem

# Docker
*.log
.dockerignore

# IDE
.vscode/
.idea/

# OS
.DS_Store